/* variables */
:root {
  --clr-bg: linear-gradient(to top right, #6897eb, #274aa6);
  --clr-primary: #274aa6;
  --clr-secondary: #6897eb;
  --fnt-head: "Georama", sans-serif;
  --fnt-body: "Catamaran", sans-serif;
}
/* end variables */

/* resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* end resets */

/* body */
body {
  font-family: var(--fnt-body);
  background: var(--clr-bg);
  color: var(--clr-primary);
  padding-top: 80px;
  text-align: center;
}
/* end body */

/* headings */
h1,
h2,
h3,
h4 {
  font-family: var(--fnt-head);
}
/* end headings */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #fff;
  z-index: 10;
  border-bottom: 1px solid var(--clr-primary);
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

/* nav */
.nav {
  width: 500px;
}

.nav-list {
  height: 80px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary);
  padding: 35px 30px;
}

.nav-list a:hover {
  background: var(--clr-secondary);
  color: #fff;
}

.nav-list .active {
  background: var(--clr-secondary);
  color: #fff;
}
/* end nav */
/* end header */

/* main */
/* hero */
.hero {
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
  background-image: url(../res/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero h1 {
  position: absolute;
  font-size: 4rem;
  text-transform: uppercase;
  top: 35%;
  right: 10%;
  color: var(--clr-primary);
}
/* end hero */

/* sections */
.section {
  background: #fff;
  margin: 30px;
  padding: 30px;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
  pointer-events: none;
  z-index: 5;
}

.selected::before {
  opacity: 0;
}

.section h2 {
  margin-bottom: 20px;
}

.section > p {
  width: 90%;
  text-align: justify;
}

/* pricing */
.prices {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-secondary);
  padding: 30px 40px;
  color: #fff;
}

.price:nth-child(2) {
  background: var(--clr-primary);
}

.price h3 {
  margin-bottom: 20px;
}

.price p {
  font-family: var(--fnt-head);
  font-size: 2rem;
  margin: 20px 0;
  position: relative;
}

.price p::before {
  content: "$";
  position: absolute;
  font-size: 1.3rem;
  top: -5px;
  left: -15px;
}

.price ul {
  list-style: none;
  margin: 20px 0;
}

.price ul li {
  font-size: 1.1rem;
  margin: 5px;
}

.price a {
  margin-top: auto;
  padding: 10px 30px;
  border: none;
  background: var(--clr-secondary);
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

.price:nth-child(2) a {
  background: var(--clr-primary);
}

.price a:hover {
  color: var(--clr-primary);
  background: #fff;
  border: 1px solid var(--clr-secondary);
}

.price:nth-child(2) a:hover {
  border: 1px solid var(--clr-primary);
}
/* end pricing */
/* end main */

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 30px;
}
/* form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

form > * {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

form input {
  height: 30px;
  padding: 5px;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  outline: none;
}

form textarea {
  padding: 5px;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  outline: none;
  resize: none;
}

form button {
  width: 40%;
  padding: 10px;
  border: 1px solid #fff;
  background: var(--clr-primary);
  color: #fff;
  cursor: pointer;
}

form button:hover {
  border: 1px solid var(--clr-primary);
  background: #fff;
  color: var(--clr-primary);
}
/* end form */

/* copyrights */
.footer p {
  margin-top: 30px;
}
/* end copyrights */
/* end footer */
