/* variables */
:root {
  --clr-bg: linear-gradient(to top right, #6897eb, #274aa6);
  --clr-primary: #274aa6;
  --clr-secondary: #6897eb;
  --fnt-head: "Georama", sans-serif;
  --fnt-body: "Catamaran", sans-serif;
}
/* end variables */

/* resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* end resets */

/* body */
body {
  font-family: var(--fnt-body);
  background: var(--clr-bg);
  color: var(--clr-primary);
  padding-top: 80px;
  text-align: center;
}
/* end body */

/* headings */
h1,
h2,
h3,
h4 {
  font-family: var(--fnt-head);
}
/* end headings */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #fff;
  z-index: 10;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

/* nav */
.nav {
  width: 500px;
}

.nav-list {
  height: 80px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary);
  padding: 35px 30px;
}

.nav-list a:hover {
  background: var(--clr-secondary);
  color: #fff;
}

.nav-list a.active {
  background: var(--clr-secondary);
  color: #fff;
}
/* end nav */
/* end header */

/* main */
/* hero */
.hero {
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
  background-image: url(../res/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero h1 {
  position: absolute;
  font-size: 4rem;
  top: 35%;
  right: 10%;
  color: var(--clr-primary);
}
/* end hero */
/* end main */
